body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: black;
}
h1 {
    color: red; /* Altere 'blue' para qualquer cor que desejar */
}
canvas {
    border: 1px solid white;
}